<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>OUR IDEAS AND OPINIONS</h2>
            <h4>We've benefited from others sharing their tools,techniques, and code. We try to return the favor by penning down what we learn on our blog.</h4>
        </div>
    </div>
</aside>

